.projects-page {
	margin-top: 5rem;
	margin-bottom: 18rem;

	@media screen and (max-width: 400px) {
		width: 100%;
		left: 0%;
	}

	@media screen and (max-width: 400px) {
		.title {
			font-size: 2.8rem !important;
		}

		.description {
			font-size: 0.8rem;
		}

		.projects {
			p {
				font-size: 0.8rem;
			}

			.card-footer {
				padding-left: 0;
				padding-right: 0;
				img {
					width: 1.6rem !important;
				}
			}
		}
	}

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.title {
			font-size: 3rem;
			font-family: "Coolvetica";
			border-bottom: #5eafbd96 solid 5px;

			span {
				letter-spacing: 3px;
			}
		}

		.projects {
			.card {
				background-color: rgb(0, 0, 0, 0);
				border-color: rgb(0, 0, 0, 0);
				box-shadow: 3px 6px 16px -4px rgba(0, 0, 0, 0.45);

				a {
					img {
						transition: 0.3s;

						&:hover {
							opacity: 0.5;
						}
					}
				}

				.card-title {
					margin-bottom: 1rem;
					letter-spacing: 1px;
				}

				.card-footer {
					text-align: center;
					margin-top: 1rem;
					background-color: rgb(0, 0, 0, 0);
					border-color: rgb(0, 0, 0, 0);

					img {
						margin: 4px;
						width: 2rem;
						transition: 0.3s;

						&:hover {
							transform: scale(2.2);
						}
					}
				}
			}
		}
	}
}
