.skills-page {
	margin-top: 5rem;
	margin-bottom: 18rem;

	@media screen and (max-width: 800px) {
		margin-bottom: 45rem;
	}

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.title {
			font-size: 3.4rem;
			font-family: "Coolvetica";
			font-weight: 400;
			border-bottom: #5eafbd96 solid 5px;

			span {
				letter-spacing: 3px;
			}
		}

		.images {
			text-align: center;

			.col {
				box-shadow: 3px 6px 16px -4px rgba(0, 0, 0, 0.45);

				img {
					width: 4.5rem;
					margin-top: 1rem;
					margin-bottom: 1rem;
					transition: 0.3s;

					&:hover {
						transform: scale(1.1);
					}
				}

				p {
					animation: fadeInUp 2s 2.5s backwards;
					opacity: 0.8;
				}

				.sass {
					margin-bottom: 40px;
				}

				.redux {
					margin-bottom: 22px;
				}

				.flask {
					margin-bottom: 42px;
				}
			}
		}

		@media screen and (max-width: 400px) {
			.title {
				font-size: 2.6rem;
			}

			.description {
				font-size: 0.8rem;
			}

			img {
				width: 3.5rem !important;
			}

			.sass {
				margin-bottom: 32px !important;
			}

			.flask {
				margin-bottom: 34px !important;
			}

			.redux {
				margin-bottom: 20px !important;
			}
		}
	}
}
