@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.about-page {
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.title {
			font-size: 3.4rem;
			letter-spacing: 1px;
			font-family: "Coolvetica";
			font-weight: 400;
			border-bottom: #5eafbd96 solid 5px;
		}

		.intro {
			line-height: 3.7rem !important;
			letter-spacing: 5px;
			font-size: 4rem !important;
			font-weight: bolder !important;
			color: #5eafbd !important;
			padding-bottom: 2px;
			font-family: "Shadows Into Light", cursive !important;

			// opacity: 0;
		}

		.description {
			p {
				font-size: 13px;
				color: #fff;
				font-weight: 300;

				line-height: 22px;
			}
		}

		@media screen and (max-width: 400px) {
			.title {
				font-size: 3rem;
			}

			.intro {
				font-size: 3.1rem !important;
				letter-spacing: 1px;
			}
		}
	}
}
