.header-wrapper {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
	max-height: 90%;

	h1 {
		color: #fff;
		margin: 0;
		font-family: "Coolvetica";
		font-weight: 400;

		.intro {
			color: #5eafbd;
			font-family: "La Belle Aurore", sans-serif;
		}

		.name {
			animation: fadeIn 1.5s 2.3s backwards;
			letter-spacing: 2px;
		}
		.role {
			animation: fadeIn 1.5s 3s backwards;
			margin-top: 2px;
			letter-spacing: 1px;
		}
	}

	p {
		color: #8d8d8d;
		margin-top: 20px;
		font-weight: 400;
		letter-spacing: 1px;
		animation: fadeIn 1.5s 3.5s backwards;
	}

	.flat-button {
		color: #00a9c7;
		font-size: 13px;
		font-weight: 400;
		font-family: sans-serif;
		letter-spacing: 4px;
		text-decoration: none;
		border: 1px solid #00a9c7;
		border-radius: 5px;
		padding: 10px 18px;
		margin-top: 3rem;
		float: left;
		white-space: nowrap;
		animation: fadeIn 1s 1.8s backwards;
		transition: 0.3s;

		&:hover {
			background: #00a9c7;
			color: #fff;
		}
	}

	@media screen and (min-width: 200px) {
		h1 {
			.intro {
				font-size: 1.6rem;
			}

			.name {
				font-size: 4rem;
				letter-spacing: 0.45rem;
			}

			.role {
				font-size: 2.2rem;
			}
		}

		p {
			font-size: 0.8rem;
			width: 20rem;
		}
	}

	@media screen and (min-width: 400px) {
		h1 {
			.intro {
				font-size: 1.6rem;
			}

			.name {
				font-size: 4rem;
				letter-spacing: 1rem;
			}

			.role {
				font-size: 2.5rem;
			}
		}

		p {
			font-size: 0.8rem;
			width: 20rem;
		}
	}

	@media screen and (min-width: 620px) {
		h1 {
			.intro {
				font-size: 2rem;
			}

			.name {
				font-size: 5rem;
				letter-spacing: 1rem;
			}

			.role {
				font-size: 3rem;
				letter-spacing: 0.5rem;
			}
		}

		p {
			font-size: 1rem;
			width: 30rem;
		}
	}

	@media screen and (min-width: 800px) {
		h1 {
			.intro {
				font-size: 4rem;
			}

			.name {
				font-size: 9rem;
				letter-spacing: 1rem;
			}

			.role {
				font-size: 4rem;
				letter-spacing: 0.5rem;
			}
		}

		p {
			font-size: 1.4rem;
			width: 30rem;
		}
	}
}
