footer {
	text-align: center;
	background-color: #022c43;
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;

	svg {
		font-size: 1.5rem;
		margin: 0.3rem 1rem 0.5rem 1rem;
		transition: 0.1s;

		&:hover {
			transform: scale(2);
			color: #00a9c7;
		}
	}
}
